
body{
  background-color: #EDF0F3;
}
/* Nav Bar Elements Styling */
.nav{
  top: 50px;
  display : flex;
  justify-content: space-between;
  background-color: #F9FAFB;
  padding: 10px;
  align-items: center;
  width: 50%;
  margin: 50px auto 0 auto;
  border-radius: 5px 5px 0 0 ;
}

.searchbar{ 
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #EAEDF0;
}
.searchbar:focus{
  outline: none;
  border: 1px solid #228b8f;
}
.home-btn{
  justify-content:left;
  background-color: #11999E;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 20px;
  text-decoration: none;
  line-height: 1.5;
}
.home-btn:hover{
  background-color: #2bacb1;
}
.home-btn:focus{
  outline: none;
  border: 1px solid #094f50;
}
.search-btn{
  background-color: #11999E;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}
.search-btn:focus{
  outline: none;
  border: 1px solid #094f50;
}
.search-btn:hover{
  background-color: #2bacb1;
}
.add-btn{
  background-color: #d4d6d8;
  color: #b8babb;
  border: none;
  padding: 0 10px;
  border-radius: 30px;
  font-size: 30px;
  margin-right: 20px;
}
.add-btn:hover{
  background-color: #bdc0c2;
  color: #919394;
}

/* List Styling */
.list-container{
  background-color:#F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 51.5%;
  margin: auto;
  border-radius: 0 0 5px 5px;
}

.list-container h1 {
  color: #9b9999;
}
/* Add user form  */
.add-user-container{
  display: flex;
  width: 50%;
 justify-content: center;
  margin: auto;
}
.add-input {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #fff;
  
}

.add-button{
  background-color: #11999E;
  border: none;
  padding: 0;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  height: 28px;
  margin: auto;
}